@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
:root {
  --font: "Poppins", sans-serif;
  --clr-primary: #ff764d;
  --clr-yellow: #fbffa7;
  --clr-blue: #0000ff;
  --clr-purple: #b1c5ff;
  --clr-green: #b6ffc0;
  --clr-pink: #d5b3ff;
  --clr-light: #fff;
  --clr-dark: #000;
  --h1: clamp(2.5rem, 10vw, 5rem);
  --h2: clamp(2.8rem, 10vw, 3.5rem);
  --h3: clamp(2.5rem, 10vw, 3rem);
  --h4: clamp(2rem, 10vw, 2.5rem);
  --h5: clamp(1.8rem, 10vw, 2rem);
  --h6: clamp(1.3rem, 10vw, 1.5rem);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* CONTAINER */
.container {
  max-width: 160rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* HEADER */
.header {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem 0;
}

.header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header__wrapper ul li a {
  color: var(--clr-dark);
}

.header .header__cta li:first-child a {
  color: var(--clr-blue);
}
.header .header__branding {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.header .header__nav {
  display: flex;
  gap: 3rem;
}

.header .header__cta {
  display: flex;
  gap: 3rem;
}

/* HOME BANNER */
.homeBanner {
  padding-bottom: 10rem;
}
.homeBanner ul {
  display: flex;
  gap: 3rem;
  padding: 1.5rem 0;
}

.homeBanner ul li:first-child {
  color: var(--clr-primary);
}

.homeBanner .homeBanner__img {
  position: relative;
  text-align: center;
  margin-bottom: 10rem;
}
.homeBanner .homeBanner__img h1 {
  font-size: var(--h1);
  font-weight: bold;
  color: var(--clr-primary);
  /* text-align: center; */
  position: absolute;
  top: 45%;
  left: 45%;
}

.homeBanner .homeBanner__text {
  max-width: 60%;
  margin: 0 auto;
  text-align: justify;
  margin-top: 5rem;
}

.homeBanner .homeBanner__text h4 {
  font-size: var(--h4);
  font-weight: bold;
}
.homeBanner .homeBanner__text h4 span {
  color: var(--clr-blue);
}
.homeBanner .homeBanner__text p {
  margin-top: 3rem;
}

/* YELLOWIMGS */
.yellowImgs {
  padding: 10rem 0;
  position: relative;
}

.yellowImgs .yellowImgs__wrapper {
  display: flex;
  justify-content: space-around;
}

.yellowImgs .yellowImgs__wrapper img {
  z-index: 3;
  margin: 0 auto;
}

.yellowImgs span::before {
  content: "";
  position: absolute;
  display: block;
  height: 80rem;
  width: 55vw;
  background: var(--clr-yellow);
  right: 0;
  top: 0;
  z-index: 2;
}

/* VIDDETAILS */

.vidDetails {
  padding: 10rem 0;
}

.vidDetails .vidDetails__wrapper {
  max-width: 60%;
  margin: 0 auto;
  text-align: justify;
}

.vidDetails h4 {
  font-size: var(--h4);
  font-weight: bold;
  margin-bottom: 3rem;
}

.vidDetails .vidDetails__img {
  margin: 10rem 0;
}

.vidDetails .vidDetails__img small {
  font-size: 1.2rem;
}

/* GREENIMGS */

.greenImgs {
  position: relative;
}

.greenImgs .greenImgs__wrapper {
  display: flex;
  justify-content: space-around;
}

.greenImgs .greenImgs__features {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.greenImgs img {
  z-index: 3;
}
.greenImgs span:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 55vw;
  height: 80rem;
  background: var(--clr-green);
  left: 0;
  top: 0;
  z-index: 2;
}

/* VIDINFO */
.vidInfo {
  padding: 10rem 0;
}

.vidInfo .vidInfo__wrapper {
  max-width: 60%;
  margin: 0 auto;
  text-align: justify;
}

.vidInfo h4 {
  font-size: var(--h4);
  font-weight: bold;
  margin-bottom: 3rem;
}

.vidInfo .vidInfo__img {
  margin: 10rem 0;
}

.vidInfo .vidInfo__img small {
  font-size: 1.2rem;
}

/* PURPLEIMGS */
.purpleImgs {
  position: relative;
}
.purpleImgs .purpleImgs__wrapper {
  display: flex;
  justify-content: space-around;
}

.purpleImgs img {
  z-index: 4;
}
.purpleImgs span::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100rem;
  height: 80rem;
  background: var(--clr-green);
  top: 0;
  z-index: 3;
}

/* .homeBanner__ */
/* TOGGLE MENU */
/* .header .toggle__menu span {
  width: 3rem;
  height: 0.3rem;
  border: 1px solid var(--clr-blue);
  border-radius: 1rem;
  background-color: var(--clr-blue);
}

@media screen and (max-width: 520px) {
  .header {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: var(--clr-light);
    z-index: 999;
  }
  .header .toggle__menu span {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header .header__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: var(--clr-light);
    width: 50%;
    padding: 3rem;
    top: 0;
    margin-top: 11rem;
    right: -100%;
    transition: all 0.5s ease;
  }

  .header .header__nav.open {
    right:0;
}
  .header .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: all 0.5s ease;
  }
  .header .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .header .toggle__menu.open span:last-child {
    transform: translate(0, -6px) rotate(-225);
    transition: all 0.5s ease;
  }

  .backDrop{
display:none;
}
  .backDrop.open{
display:block;
background-color: rgba(0, 0, 0, 0.7);
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 99;
}
  
} */
